<div class="container">
  <h1 class="mat-h1 text-center mb-4">Lista de Escolas</h1>

  <button mat-raised-button color="primary" (click)="abrirModal()" class="mb-4">Adicionar Escola</button>

  <table mat-table [dataSource]="escolas" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let escola"> {{ escola.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let escola"> {{ escola.endereco }} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let escola">
        <span  class="text-nowrap"> {{ escola.telefone | mask: '(00) 00000-0000' }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let escola"> {{ escola.email }} </td>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef> Cnpj </th>
      <td mat-cell *matCellDef="let escola" class="text-nowrap" > {{ escola.cnpj| mask: '00.000.000/0000-00' }} </td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let escola" class="d-flex">
        <button mat-icon-button color="primary" (click)="editarEscola(escola)">
          <i class="fa-solid fa-pen-to-square "></i>
        </button>
        <button mat-icon-button color="warn" (click)="excluirEscola(escola)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': modalAberto }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mat-h3">Cadastro de Escola</h5>
        <button type="button" class="close" (click)="fecharModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="salvarEscola()" class="mb-4">
          <mat-form-field class="form-group col-12">
            <mat-label>Nome:</mat-label>
            <input matInput type="text" id="nome" name="nome" [(ngModel)]="escola.nome" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Endereço:</mat-label>
            <input matInput type="text" id="endereco" name="endereco" [(ngModel)]="escola.endereco" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Telefone:</mat-label>
            <input matInput type="text" id="telefone" name="telefone" [(ngModel)]="escola.telefone" required
              mask="(00) 00000-0000">
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Email:</mat-label>
            <input matInput type="email" id="email" name="email" [(ngModel)]="escola.email" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>CNPJ:</mat-label>
            <input matInput type="text" id="cnpj" name="cnpj" [(ngModel)]="escola.cnpj" required
              mask="00.000.000/0000-00">
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">
            {{ escola.id > 0 ? 'Atualizar' : 'Adicionar' }}
          </button>
          <button type="button" mat-raised-button (click)="fecharModal()">Fechar</button>
        </form>
      </div>
    </div>
  </div>
</div>
