<div class="container">
  <h1 class="mat-h1 text-center mb-4">Lista de Turmas</h1>

  <button mat-raised-button color="primary" (click)="abrirModal()" class="mb-4">Adicionar Turma</button>



  <table mat-table [dataSource]="turmas" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef> Numero </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.numero }} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.descricao }} </td>
    </ng-container>

    <ng-container matColumnDef="escola">
      <th mat-header-cell *matHeaderCellDef> Escola </th>
      <td mat-cell *matCellDef="let turma"> {{ turma.escola }} </td>
    </ng-container>


    <!-- Coluna para os botões de ação -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let turma" class="d-flex">
        <button mat-icon-button color="primary"  (click)="editarTurma(turma)">
          <i class="fa-solid fa-pen-to-square "></i>
        </button>
        <!-- <button mat-icon-button color="warn" (click)="excluirEscola(escola)">
          <i class="fa-solid fa-trash"></i>
        </button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': modalAberto }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mat-h3">Cadastro de Escola</h5>
        <button type="button" class="close" (click)="fecharModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="realizarRequisicao()" class="mb-4">
          <mat-form-field class="form-group col-12">
            <mat-label>Nome:</mat-label>
            <input matInput type="text" id="nome" name="nome" [(ngModel)]="turma.nome" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Descrição:</mat-label>
            <input matInput type="text" id="descricao" name="descricao" [(ngModel)]="turma.descricao" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Numero da sala:</mat-label>
            <input matInput type="text" id="numero" name="numero" [(ngModel)]="turma.numero" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Escola:</mat-label>
            <mat-select [(ngModel)]="turma.escolaId" name="escolaId" required>
              <mat-option *ngFor="let escola of escolas" [value]="escola.id">{{ escola.nome }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">
            {{ turma.id > 0 ? 'Atualizar' : 'Adicionar' }}
          </button>
          <button type="button" mat-raised-button (click)="fecharModal()">Fechar</button>
        </form>
      </div>
    </div>
  </div>
</div>
