<div class="container">
  <h1 class="mat-h1 text-center mb-4">Lista de Alunos</h1>


  <button mat-raised-button color="primary" (click)="abrirModal()" class="mb-4">Adicionar Alunos</button>

  <table mat-table [dataSource]="alunos" class="mat-elevation-z8">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.cpf }} </td>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.endereco }} </td>
    </ng-container>

    <ng-container matColumnDef="idade">
      <th mat-header-cell *matHeaderCellDef> Idade </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.idade }} </td>
    </ng-container>

    <ng-container matColumnDef="turma">
      <th mat-header-cell *matHeaderCellDef> Turma </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.turma }} </td>
    </ng-container>


    <!-- Coluna para os botões de ação -->
    <!-- <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let turma" class="d-flex">
        <button mat-icon-button color="primary" (click)="editarTurma(turma)">
          <i class="fa-solid fa-pen-to-square "></i>
        </button>
        <button mat-icon-button color="warn" (click)="excluirTurma(turma)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': modalAberto }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mat-h3">Cadastro de Aluno</h5>
        <button type="button" class="close" (click)="fecharModal()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="realizarRequisicao()" class="mb-4">
          <mat-form-field class="form-group col-12">
            <mat-label>Nome:</mat-label>
            <input matInput type="text" id="nome" name="nome" [(ngModel)]="aluno.nome" required>
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Cpf:</mat-label>
            <input matInput type="text" id="cpf" name="cpf" [(ngModel)]="aluno.cpf" required mask="000.000.000-00">
          </mat-form-field>

          <mat-form-field class="form-group col-12">
            <mat-label>Endereco:</mat-label>
            <input matInput type="text" id="endereco" name="endereco" [(ngModel)]="aluno.endereco" required>
          </mat-form-field>


          <mat-form-field class="form-group col-12">
            <mat-label>Idade:</mat-label>
            <input matInput type="text" id="idade" name="idade" [(ngModel)]="aluno.idade" required>
          </mat-form-field>



          <mat-form-field class="form-group col-12">
            <mat-label>Turma:</mat-label>
            <mat-select [(ngModel)]="aluno.turmaId" name="turmaId" required>
              <mat-option *ngFor="let turma of turmas" [value]="turma.id">{{ turma.nome }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">
            {{ aluno.id > 0 ? 'Atualizar' : 'Adicionar' }}
          </button>
          <button type="button" mat-raised-button (click)="fecharModal()">Fechar</button>
        </form>
      </div>
    </div>
  </div>
</div>
